.App {
  text-align: center;
  margin-top: 10px;
}
.title {
  color: green;
  margin-top: 7px;
  font-weight: 500;
}
.price {
  color: brown;
  font-weight: 500;
}
.price-val {
  color: darkcyan;
}
.quantity {
  color: darkmagenta;
}
.color-text {
  color: dodgerblue;
  font-weight: 500;
}
.pro-color {
  color: darkslategray;
}
